---

import { getSinglePage } from "@lib/contentParser.astro";
const authors = (await getSinglePage("authors")).sort((a,b)=>a.data.title.split(' ')[1].localeCompare(b.data.title.split(' ')[1]));
const coauthors = (await getSinglePage("coauthors")).sort((a,b)=>a.data.title.split(' ')[1].localeCompare(b.data.title.split(' ')[1]));

---


    <div class="container">
      <h2>Organizers</h2>
      <div style={{
        display: "flex",
        flexWrap: "wrap",
        justifyContent: "center",
        alignItems: "center",
      }}
      }}}>
      {
        authors.map((author)=>{
          return <div style={{
            margin: "50px",
            alignItems: "center",
            textAlign: "center",
          }}}>
            <img src={author.data.image} alt="avatar" style={{
            borderRadius: "50%",
            width: "100px",
            height: "100px",
            margin: "0 auto",
            overflow: "hidden"
          }}}/>
            <a target="_blank" href={author.data.social.homepage}><p>{author.data.title}</p></a>
            <p>{author.data.description}</p>

          </div>
        })
      }
      </div>
          <h2>Co-Organizers</h2>
          <div style={{
            margin: "40px",
            justifyContent: "center",
            alignItems: "center",
            fontSize: 14
          }}>
            {
              coauthors.map((author)=>{
                return <div style={{
                  margin: "20px",
                  justifyContent: "center",
                  alignItems: "center",
                  fontSize: 14
                }}>
                  <a target="_blank" href={author.data.social.homepage}><p>{author.data.title} - {author.data.description}</p></a>
                </div>
              })
            }
          </div>
    </div>
